
// YELLOW
$yellow-light = #ffeab5
$yellow-dark = #f5d885

// BLUE
$blue-dark = #4c526f
$blue-light = #cbe0e0
$blue-meddium = #6774a6

// PINK
$pink-light = #feede8
$pink-dark = #fbcccb

// GREEN
$green-light = #d0e28e
$green-dark = #7b9d43

// BASIC
$grey = #bcb9b9
$black = #000
$white = #fff
$orange = #f3a47f
$red = #f16e70


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

FONT

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

@font-face
   font-family Satisfy
   font-style normal

@font-face
   font-family Lato
   font-style normal


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

TITLE

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

/*$***$***$** BIG TITLE *$***$***$**/

.satisfy-big-title-orange
   font-family Satisfy
   font-size 60px
   color $orange

.satisfy-big-title-bluelight
   font-family Satisfy
   font-size 60px
   color $blue-light

.satisfy-big-title-bluedark
   font-family Satisfy
   font-size 60px
   color $blue-dark

/*$***$***$** MEDIUM TITLE *$***$***$**/

.satisfy-medium-title-orange
   font-family Satisfy
   font-size 45px
   color $orange

.satisfy-medium-title-bluelight
   font-family Satisfy
   font-size 45px
   color $blue-light

.satisfy-medium-title-bluedark
   font-family Satisfy
   font-size 45px
   color $blue-dark

/*$***$***$** LITLE TITLE *$***$***$**/

.satisfy-little-title-orange
   font-family Satisfy
   font-size 35px
   color $orange

.satisfy-little-title-bluelight
   font-family Satisfy
   font-size 35px
   color $blue-light

.satisfy-little-title-bluedark
   font-family Satisfy
   font-size 35px
   color $blue-dark




/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

PRICES

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

.lato-big-prices
   font-family Lato
   font-weight 400
   font-size 65px
   color $grey

.lato-little-prices
   font-family Lato
   font-weight 400
   font-size 35px
   color $grey

/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

TEXT MENU HEADER FOOTER

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

.lato-text-bluedark
   font-family Lato
   font-weight 300
   font-size 18px
   color $blue-dark

.lato-comment-bluedark
   font-family Lato
   font-weight 300
   font-size 16px
   font-style italic
   color $blue-dark


/*$***$***$* MENU *$***$***$**/

.lato-menu
   font-family Lato
   font-weight 300
   font-size 20px
   text-transform uppercase

.lato-menu-hover
   font-family Lato
   font-weight 700
   font-size 20px
   text-transform uppercase

/*$***$***$** HEADER *$***$***$**/

.lato-header
   font-family Lato
   font-weight 300
   font-size 16px

/*$***$***$** FOOTER *$***$***$**/

.lato-footer
   font-family Lato
   font-weight 400
   font-size 20px

.lato-footer-light
   font-family Lato
   font-weight 300
   font-size 18px

.lato-footer-regular
   font-family Lato
   font-weight 400
   font-size 18px

.lato-footer-bold
   font-family Lato
   font-weight 700
   font-size 18px


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

BUTTON

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

.lato-button
   font-family Lato
   font-weight 400
   font-size 20px
   text-transform uppercase
