
// YELLOW
$yellow-light = #ffeab5
$yellow-dark = #f5d885

// BLUE
$blue-dark = #4c526f
$blue-light = #cbe0e0
$blue-meddium = #6774a6

// PINK
$pink-light = #feede8
$pink-dark = #fbcccb

// GREEN
$green-light = #d0e28e
$green-dark = #7b9d43

// BASIC
$grey = #bcb9b9
$black = #000
$white = #fff
$orange = #f3a47f
$red = #f16e70


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

FONT

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

@font-face
   font-family Satisfy
   font-style normal

@font-face
   font-family Lato
   font-style normal


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

TITLE

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

/*$***$***$** BIG TITLE *$***$***$**/

.satisfy-big-title-orange
   font-family Satisfy
   font-size 50px
   color $orange

.satisfy-big-title-bluelight
   font-family Satisfy
   font-size 50px
   color $blue-light

.satisfy-big-title-bluedark
   font-family Satisfy
   font-size 50px
   color $blue-dark

/*$***$***$** MEDIUM TITLE *$***$***$**/

.satisfy-medium-title-orange
   font-family Satisfy
   font-size 45px
   color $orange

.satisfy-medium-title-bluelight
   font-family Satisfy
   font-size 45px
   color $blue-light

.satisfy-medium-title-bluedark
   font-family Satisfy
   font-size 45px
   color $blue-dark

/*$***$***$** LITLE TITLE *$***$***$**/

.satisfy-little-title-orange
   font-family Satisfy
   font-size 30px
   color $orange

.satisfy-little-title-bluelight
   font-family Satisfy
   font-size 30px
   color $blue-light

.satisfy-little-title-bluedark
   font-family Satisfy
   font-size 30px
   color $blue-dark

.satisfy-little-title-pink
   font-family Satisfy
   font-size 30px
   color $pink-dark
   line-height 60px




/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

PRICES

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

.lato-big-prices
   font-family Lato
   font-weight 400
   font-size 65px
   color $grey

.lato-little-prices
   font-family Lato
   font-weight 400
   font-size 35px
   color $grey

/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

TEXT MENU HEADER FOOTER

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/

.lato-text-bluedark
   font-family Lato
   font-weight 300
   font-size 16px
   color $blue-dark

.lato-comment-bluedark
   font-family Lato
   font-weight 400
   font-size 14px
   font-style italic
   color $blue-dark
   line-height 20px


/*$***$***$* MENU *$***$***$**/

.lato-menu
   font-family Lato
   font-weight 300
   font-size 20px
   text-transform uppercase
   color $blue-dark

.lato-menu:hover
   font-family Lato
   font-weight 700
   font-size 20px
   text-transform uppercase

.lato-menu-active
  font-family Lato
  font-weight 700
  font-size 20px
  text-transform uppercase
  color $blue-dark


/*$***$***$** HEADER *$***$***$**/

.lato-header
   font-family Lato
   font-weight 400
   font-size 16px

.lato-header
   font-family Lato
   font-weight 400
   font-size 16px

.lato-reinsurance
    font-family Lato
    font-weight 700
    font-size 12px
    text-transform uppercase

/*$***$***$** FOOTER *$***$***$**/

.lato-footer
   font-family Lato
   font-weight 400
   font-size 18px
   text-transform uppercase
   color $blue-dark

.lato-footer-lowercase
  font-family Lato
  font-weight 400
  font-size 18px
  color $blue-dark

.lato-footer-light
   font-family Lato
   font-weight 300
   font-size 18px
   color $blue-dark

.lato-footer-bold
   font-family Lato
   font-weight 700
   font-size 18px
   color $blue-dark


/***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$

BUTTON

***$***$***$***$***$***$***$***$***$***$***$***$***$***$***$*/



.button
  background-color $blue-dark
  padding 7px 25px 7px 25px
  border-radius 60px
  border: solid $blue-dark 2px
  font-family Lato
  font-size 20px
  text-transform uppercase
  font-weight 400
  color $white

.button:hover
  background-color $white
  color $blue-dark

.clear-both
  clear:both

.content
  width 960px
  margin 0 auto

.reinsurance-content
  margin-top 60px
  margin-bottom 60px
  .reinsurance-elements
    display inline-block
    text-align center
    position relative
    margin-left 63px
    width 160px
    img
      height 35px
      margin-bottom 10px
    .reinsurance-filet
      display inline-block
      width 1px
      height 100px
      background-color $blue-dark
      position absolute
      left 190px
      top -15px
