//TEST COLOR

body
    background-color $white
    font-family: 'Lato', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size 20px

    h1
        color $yellow-dark
       //  font-family $lato-light

    p
        font-family $satisfy

.header
  background-color $yellow-light
  width 100%
  height 40px
  nav
    position relative
    display inline-block
    ul
      line-height: 2.8
      li
        display inline-block
        a
          text-decoration none
          img
            width 24px
            margin-left 12px

.header-social-networks
  margin-left 25px

.header-customer-bar
  float: right
  margin-right 37px
  a
    position relative
    margin-left 45px
    img
      position absolute
      left -45px
      bottom 0.5px

.navbar
  width 960px
  margin 0 auto
  a
    text-decoration none
  nav
    width 100%
    position relative
    text-align center
    margin-top -5px
    li
      display inline-block
      margin-left 33px
      margin-right 33px
      a
        position relative

.navbar-logo
  text-align: center
  img
    width 166px
    height 166px
    margin-top -13px

.active-menu-accueil
  position absolute
  width 38px
  height 38px
  left 22px
  top -30px

.active-menu-acheteroffrir
  position absolute
  width 38px
  height 38px
  left 70px
  top -30px

.active-menu-blog
  position absolute
  width 38px
  height 38px
  left 22px
  top -30px

.active-menu-boutique
  position absolute
  width 38px
  height 38px
  left 35px
  top -30px

.active-menu-box
  position absolute
  width 38px
  height 38px
  left 27px
  top -30px

@media (max-width: 1050px)
  .navbar
    width 100%
    nav
      li
        margin-left 10px
        margin-right 10px

@media (max-width: 1050px)
  .navbar
    width 100%
    nav
      li
        margin-left 20px
        margin-right 20px
        height 50px
