//TEST COLOR 

body 
    background-color $white
    font-family: 'Lato', sans-serif;
    font-family: 'Satisfy', cursive;
    font-size 20px
    
    h1
        color $yellow-dark
       //  font-family $lato-light
    
    p
        font-family $satisfy