.content
  width 960px
  margin 0 auto

.accueil-ban
  margin-top 55px
  position relative
  margin-bottom 40px
  img
    width 100%
  h1
    position absolute
    right 120px
    top 100px
    text-align right
    line-height: 72px

.accueil-images-right
  width 368px
  height 368px
  margin-top -30px

.accueil-images-left
  width 330px
  height 330px
  margin-top 35px

.accueil-content-left
  float left
  width 47%
  height 370px
  position relative

.accueil-content-right
  float right
  width 47%
  height 350px
  position relative

.accueil-text
  line-height 26px
  margin-bottom 15px

.accueil-title
  line-height 86px

.accueil-content-button
  position absolute
  bottom 0
  right 20px
  text-decoration none
  text-align right

.accueil-part
  margin-bottom 50px

.content-image
  text-align: center

.accueil-how-it-works
  p
    padding-top 20px
    text-align center
  .accueil-how-it-works-steps
    text-align center
    margin 0 auto
    .accueil-how-it-works-step
      text-align: center
      display inline-block
      width 315px
      padding 30px
      .accueil-how-it-works-step-number
        background-color $yellow-light
        width 60px
        height 60px
        line-height 70px
        border-radius 100%
        margin-left 100px
        margin-bottom 30px

.accueil-partners
  text-align center
  margin-top 30px
  .lato-text-bluedark
    width 750px
    margin 0 auto
    line-height 22px
    margin-top 20px
  .accueil-partners-logo
    width 700px
    margin 0 auto
    margin-top 20px
    .accueil-how-it-works-step
      text-align: center
      display inline-block
      padding 20px
      img
        width 170px
        height 100%


@media (max-width: 1050px)

  .content
    width 650px
    margin 0 auto
    .accueil-ban
      margin-top 40px
      margin-bottom 30px
      h1
        right 80px
        top 50px
        text-align right
        line-height: 70px

  .satisfy-medium-title-orange
    font-size 40px

  .satisfy-big-title-orange, .satisfy-big-title-bluedark, .satisfy-big-title-bluelight
    font-size 36px

  .lato-text-bluedark
    font-size 14px
    line-height 20px

  .button
    font-size 16px

  .accueil-images-right
    width 308px
    height 308px
    margin-top 0px

  .accueil-images-left
    width 270px
    height 270px
    margin-top 60px

  .lato-footer-light
    font-size 16px

  .accueil-how-it-works
    .accueil-how-it-works-steps
      .accueil-how-it-works-step
        text-align: center
        display inline-block
        width 210px
        padding 20px
        .accueil-how-it-works-step-number
          background-color $yellow-light
          width 60px
          height 60px
          line-height 70px
          border-radius 100%
          margin-left 60px
          margin-bottom 0px

  .accueil-partners
    .lato-text-bluedark
      width 600px
    .accueil-partners-logo
      width 650px
      .accueil-how-it-works-step
        img
          width 150px

@media (max-width: 650px)

  .content
    width 100%
    .accueil-ban
      margin-top 20px
      margin-bottom 20px
      h1
        right 80px
        top 30px
        text-align right
        line-height: 50px

  .satisfy-medium-title-orange
    font-size 28px

  // .satisfy-big-title-bluedark
  //   line-height 40px

  .accueil-content-left
    float left
    width 100%
    height 300px
    position relative

  .accueil-content-right
    float right
    width 100%
    height 280px
    position relative

  .accueil-text
    width 85%
    margin-left 7%

  .accueil-title
    margin-left 7%
    line-height 50px

  .accueil-images-right
    margin-top -30px

  .accueil-images-left
    margin-top 0px

  .accueil-content-button
    position absolute
    bottom -10px
    right 30px
    text-decoration none
    text-align right

  .accueil-partners
    width 95%
    .lato-text-bluedark
      width 85%
      margin-left 7%
    .accueil-partners-logo
      width 90%
      .accueil-how-it-works-step
        img
          width 120px
