.content
  width 960px
  margin 0 auto

.accueil-ban
  margin-top 55px
  position relative
  h1
    position absolute
    right 120px
    top 100px
    text-align right
    line-height: 72px

.accueil-images
  width 368px
  height 368px

.accueil-content-left
  float left
  width 45%

.accueil-content-right
  float right
  width 45%
  margin-top 25px

.accueil-text
  line-height 26px
  margin-bottom 15px

.accueil-title
  line-height 86px

.accueil-concept
  a
    text-decoration none
    text-align right
