.onebox-part
  margin-top 60px

  .onebox-left
    width 60%
    float left
    text-align center
    img
      width 450px
      margin-top -30px

  .onebox-right
    width 40%
    float right
    margin-top 80px
    h3
      margin-bottom 20px
    p.lato-text-bluedark
      width 150px
      display inline-block
      line-height 22px
    p.lato-big-prices
      display inline-block
      margin-left 50px
    .button-content
      position relative
      .button
        font-size 16px
        text-decoration none
      .onebox-offrir-button
        background-color $yellow-dark
        border-color $yellow-dark
        position absolute
        bottom -70px
        right 220px
      .onebox-commander-button
        position absolute
        bottom -70px
        right 30px

.subscription-part
  h2
    width 840px
    line-height 40px
  .subscription-card
    width 270px
    height 375px
    border 2px solid $pink-dark
    text-align center
    display inline-block
    margin-left 33px
    margin-top 40px
    h5
      margin-top 35px
      margin-bottom 12px
    p.lato-text-bluedark
      width 200px
      margin 0 auto
    p.lato-big-prices
      margin-top 20px
      margin-bottom 5px
    .button-content
      position relative
      .button
        font-size 16px
        text-decoration none
      .subscription-offrir-button
        background-color $yellow-dark
        border-color $yellow-dark
        position absolute
        bottom -60px
        right 78px
      .subscription-commander-button
        position absolute
        bottom -105px
        right 52px

.testimony-part
  margin-bottom 140px
  h4
    margin-top 80px
    text-align center
    margin-bottom 30px
  .testimony-left
    float left
    width 30%
    padding-left 120px
    img
      width 125px
      border-radius 100%
  .testimony-right
    float right
    width 70%
    p
      margin-top 50px
      width 80%
  .button-content
    position relative
    .button
      text-decoration none
      font-size 16px
    .testimony-button
      position absolute
      bottom -170px
      right 145px

@media (max-width: 1050px)

  .onebox-part
    h1
      font-size 24px
    .onebox-left
      width 55%
      img
        width 300px
        margin-left -60px

    .onebox-right
      width 45%
      margin-top 50px
      h3
        font-size 30px
        margin-bottom 20px
      p.lato-big-prices
        font-size 40px
        margin-left 10px
      .button-content
        .onebox-offrir-button
          position absolute
          bottom -70px
          right 200px
        .onebox-commander-button
          position absolute
          bottom -70px
          right 10px

  .subscription-part
    h2
      width 650px
      font-size 24px
      line-height 30px
    .subscription-card
      width 197px
      height 320px
      margin-left 7px
      margin-right 8px
      h5
        margin-top 20px
        font-size 40px
      p.lato-text-bluedark
        width 150px
      p.lato-big-prices
        font-size 40px
      p.lato-more-bluedark
        font-size 14px
      .button-content
        position relative
        .button
          font-size 16px
          text-decoration none
        .subscription-offrir-button
          bottom -60px
          right 40px
        .subscription-commander-button
          bottom -105px
          right 15px

  .testimony-part
    .testimony-left
      width 25%
      padding-left 0px
    .testimony-right
      width 75%
      padding-left 20px
      p
        margin-top 50px
        width 100%
    .button-content
      .testimony-button
        position absolute
        bottom -160px
        right 45px

@media (max-width: 650px)

  .onebox-part
    margin-left 7%
    margin-top 20px
    h1
      line-height 30px
      margin-right 7%
    .onebox-left
      width 100%
      img
        width 350px

    .onebox-right
      width 85%
      margin-left 7%
      margin-top -10px
      margin-bottom 130px
      h3
        font-size 30px
        margin-bottom 20px
      .button-content
        width 350px
        margin 0 auto
        .onebox-offrir-button
          position relative
          bottom -70px
          right 0px
        .onebox-commander-button
          position relative
          bottom -70px
          right 0px

  .subscription-part
    h2
      width 85%
      margin-left 7%
    .subscription-cards
      width 210px
      margin 0 auto
      .subscription-card
        width 197px
        height 320px
        .button-content
          position relative
          .button
            font-size 16px
            text-decoration none
          .subscription-offrir-button
            bottom -60px
            right 148px
          .subscription-commander-button
            bottom -105px
            right 122px

  .testimony-part
    width 350px
    margin 0 auto
    h4
      font-size 30px
    .testimony-left
      width 30%
    .testimony-right
      width 70%
      p
        margin-top 30px
        margin-left 25px
        margin-bottom 90px
    .button-content
      .testimony-button
        position absolute
        bottom -200px
        right 20px
