.cgv-title
  margin-top 50px
  margin-bottom 10px

.cgv-paragraph
  margin-top 50px
  .satisfy-little-title-orange
    margin-left 40px
    margin-bottom 20px
    line-height 40px
  .lato-text-bluedark
    text-align justify
    line-height 20px
    margin-bottom 20px

@media (max-width: 650px)

  .cgv-title
    margin-left 7%
    .satisfy-medium-title-bluelight
      font-size 35px

  .cgv-paragraph
    .satisfy-little-title-orange
      font-size 30px
      line-height 30px
    .lato-text-bluedark
      width 86%
      margin-left 7%
