.contact-title
  margin-top 50px
  margin-bottom 10px

.contact-paragraph
  margin-top 50px
  .satisfy-little-title-orange
    margin-left 40px
    margin-bottom 20px
    line-height 40px
  .lato-text-bluedark
    text-align justify
    line-height 20px
    margin-bottom 20px

  .form
      position relative
      margin-top 30px

      .form-zone
          margin-bottom 80px
          width 450px
          margin-left 20px
          display inline-block

          .form-input
              width 400px
              border-radius 10px
              border $pink-dark solid 1px
              margin 5px
              padding 8px

          .form-input-size
              width 100%

          .form-label
              margin-left 6px

      .form-button
          height auto
          width 130px
          position absolute
          right 60px
          bottom 15px

          input[type=submit]
              text-transform uppercase

@media (max-width: 1050px)

  .contact-paragraph
    .form
      margin-bottom 60px
      .form-zone
        margin-bottom 25px
      .form-button
        right 227px
        bottom -30px
        width 117px

@media (max-width: 650px)

  .contact-title
    margin-left 7%
    .satisfy-medium-title-bluelight
      font-size 35px

  .contact-paragraph
    .satisfy-little-title-orange
      font-size 30px
      line-height 30px
    .lato-text-bluedark
      width 86%
      margin-left 7%
    .form
      margin-left 0px
      width 350px
      margin 0 auto
      margin-bottom 80px
      .form-zone
        margin-left 0px
        width 90%
        .form-input
          width 100%
      .form-button
        right 30px
        bottom -30px
